/* ---- Default CSS -- */
html {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

/* ---- End of Default CSS -- */

/* --- Main Body Container -- */

/* --- gridFractions --- */
.gridFractions {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}
.gridFractions > div{
    background-color: aquamarine;
    border: #000 1px solid;
    padding: 1em;
}



/* --- end of Grid Fractions --- */

/* --- end of Main Body Container -- */


h1 {
    color: red;
    font-size:xx-large;
}

