/* ---- Default CSS -- */
html {
    margin: 0;
    padding: 0;
    background-color: azure;
}

/* --- Header --- */
header {
    background-color: lightcoral;
}

/* --- Navigation --- */

nav {
    background-color: burlywood;
    margin: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}

nav > div {
    background-color:dodgerblue ;
}

.menu {
    background-color: blueviolet;
    padding: 1em;
}

.menu li {
    display: inline-block;
    background-color: brown;
    list-style-type: none;
    margin-right: 10px;
    width: 100px;
    height:30px;
    align-self:center;
}

.search {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.search input {
    font-size: 24px;
    padding-left: 10px;
    margin-left: 10px;
}

.hamburger {
    font-size: 48px;
    color: crimson;
    justify-self: end;
    padding-right: 10px;
}

/* --- End of Navigation --- */

/* --- End of Header --- */

/* --- Main Page Content --- */
main {
    background-color: cadetblue;
}

/* --- End of Main Page Content --- */

/* --- Footer --- */
footer {
    background-color: darkgoldenrod;
}
/* --- End of Footer --- */