body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: aquamarine;
    /*flex-wrap: wrap;*/
    height: 500px;
    flex-direction: row;
    align-items: flex-start;
}

.box {
    /*background-color: crimson;*/
    margin: 10px;
    width:100px;
}


.box1 {
    background-color: blue;
    /*flex: 2;
    order: 1;*/
    align-self: self-end;
    justify-self: self-start;
}

.box2 {
    background-color: orangered;
    /*flex: 1;
    order:2;*/
    align-self: self-start;
    justify-self: end;
}
.box3 {
    background-color: purple;
    /*flex: 1;
    order: -1;*/
    align-self: center;
}
.box4 {
    background-color: green;
    /*flex: 1;
    order:0;*/
    align-self:stretch;
}
